
<div class="container-fluid">

    <!--Homepage Title-->
  <h1 class="display-1">My Dashboard</h1>

  <pb-post-create></pb-post-create>
  <pb-post-list></pb-post-list>

  <div class="row" id="main">
    

    <!--Card 1-->
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <article>
            <h1>Total Budget Partition</h1>
            <p>
              <canvas id="myChart" width="300" height="300"></canvas>
            </p>
          </article>
        </div>
      </div>
    </div>

    <!--Card 2-->
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <article>
            <h1>Second Chart</h1>
            <p>
              <canvas id="myChart2" width="300" height="300"></canvas>
            </p>
          </article>
        </div>
      </div>
    </div>

    <!--Card 3-->
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <article>
            <h1>Third Radar Chart</h1>
            <p>
              <canvas id="myChart3" width="300" height="300"></canvas>
            </p>
          </article>
        </div>
      </div>
    </div>
  </div>

</div>
