<p class="h1">Budget Configurations</p>

  <!--Textarea asks user input -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">ID</span>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="1-99"
      aria-describedby="basic-addon1"
      [(ngModel)]= "enteredId"
    />
  </div>

  <!--Textarea asks user input -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Name</span>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="Rent"
      aria-describedby="basic-addon1"
      [(ngModel)]= "enteredName"
    />
  </div>

    <!--Aks user number-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2">Budget</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="125"
        aria-describedby="basic-addon2"
        [(ngModel)]= "enteredBudget"
      />
    </div>

  <!--Textarea asks user input -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Color</span>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="#947264"
      aria-describedby="basic-addon1"
      [(ngModel)]= "enteredColor"
    />
  </div>

  <!--button with click event that listens to input -->
  <button (click)="addBudget()" class="btn btn-primary">Save Configs</button>
  <hr />
<i class="fa fa-y-combinator" aria-hidden="true"></i>