<div class="container">
    <div class="row">
      <div class="col">
        
        <!--Card 1-->
        <div class="card border-info" >
            <div class="card-body">
              <h5 class="card-title">Stay on Track</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">
                  Do you know where you are spending your money? If you really stop to track it down,
                  you would get surprised! Proper budget management depends on real data... and this
                  app will help you with that!
                </p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
      </div>
      
      <div class="col-6"> 
        <!--Card 2-->
        <div class="card border-info" >
            <div class="card-body">
              <h5 class="card-title">Alerts</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">
                  Do you know where you are spending your money? If you really stop to track it down,
                  you would get surprised! Proper budget management depends on real data... and this
                  app will help you with that!
                </p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
      </div>
      
      <div class="col">
        <!--Card 3-->
        <div class="card border-info" >
            <div class="card-body">
              <h5 class="card-title">Results</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">
                  People who stick to a financial plan, budgeting every expense, get out of debt faster!
                  Also, they to live happier lives... since they expend without guilt or fear...
                  because they know it is all good and accounted for.
                </p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
      </div>
    </div>
    
    
    <div class="row">
        <div class="col">
          
          <!--Card 4-->
          <div class="card border-info" >
              <div class="card-body">
                <h5 class="card-title">Free</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">
                    This app is free!!! And you are the only one holding your data!
                  </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>
        
        <div class="col-6"> 
          <!--Card 5-->
          <div class="card border-info" >
              <div class="card-body">
                <h5 class="card-title">Alerts</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">
                    Do you know where you are spending your money? If you really stop to track it down,
                    you would get surprised! Proper budget management depends on real data... and this
                    app will help you with that!
                  </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>
        
        <div class="col">
          <!--Card 6-->
          <div class="card border-info" >
              <div class="card-body">
                <h5 class="card-title">Results</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">
                    People who stick to a financial plan, budgeting every expense, get out of debt faster!
                    Also, they to live happier lives... since they expend without guilt or fear...
                    because they know it is all good and accounted for.
                  </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>
      </div>