<div class="container-fluid">
            <!--Aks user number-->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon2">Email</span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="test@test.com"
          aria-describedby="basic-addon2"
          [(ngModel)]= "addedEmail"
        />
      </div>
  
    <!--Textarea asks user input -->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Password</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="password"
        aria-describedby="basic-addon1"
        [(ngModel)]= "addedPassword"
      />
    </div>

    <button (click)="addUser()" class="btn btn-primary">Sign Up</button>
</div>
